<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources>
    <add key="Microsoft and .NET" value="true" />
  </disabledPackageSources>
  <packageSources>
    <!-- ignore local nuget settings -->
    <clear />
    <!--<add key="LocalDev" value="D:\source\Dynamo\tools\NuGet" />-->
    <add key="Autodesk Artifactory" value="https://art-bobcat.autodesk.com/artifactory/api/nuget/autodesk-3p-nuget/" />
    <add key="Dynamo Artifactory" value="https://art-bobcat.autodesk.com/artifactory/api/nuget/team-dynamo-nuget" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="Autodesk Artifactory">
      <package pattern="*" />
    </packageSource>
    <packageSource key="Dynamo Artifactory">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>